doctype html
html
  head
    // essential tags
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css"
    integrity="sha384-rtJEYb85SiYWgfpCr0jn174XgJTn4rptSOQsMroFBPQSGLdOC5IbubP6lJ35qoM9" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
    integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"
    integrity="sha256-3h45mwconzsKjTUULjY+EoEkoRhXcOIU4l5YAw2tSOU=" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"
    integrity="sha256-etrwgFLGpqD4oNAFW08ZH9Bzif5ByXK2lXNHKy7LQGo=" crossorigin="anonymous")
    link(link rel="stylesheet" href="css/bootstrap.css")
    link(rel='stylesheet', href='css/style.css')
    title Breeze
  
  body
    navbar
      nav.navbar.navbar-expand-sm.navbar-light.bg-white.fixed-top#main-nav
        .container-fluid
          a.navbar-brand(href="/home") Breeze
          button.navbar-toggler(data-toggle="collapse" data-target="#navbarCollapse")
            span.navbar-toggler-icon
          .collapse.navbar-collapse#navbarCollapse
            ul.navbar-nav.ml-auto
              li.nav-item.active
                a.nav-link(href="/home") Home
              li.nav-item
                a.nav-link(href="/about") About
              li.nav-item
                a.nav-link(href="/portfolio") portfolio
              li.nav-item.dropdown
                a.nav-link.dropdown-toggle(href="#" data-toggle="dropdown")
                  span Food
                .dropdown-menu
                  a.dropdown-item(href="/spring") SPRING  
                  a.dropdown-item(href="/summer") SUMMER   
                  a.dropdown-item(href="/autumn") Autumn  
                  a.dropdown-item(href="/winter") Winter       
              li.nav-item
                a.nav-link(href="/contact") Contact

    block content
 
    //- block footer
    //- footer.text-center.p-4#main-footer
    //-   .container
    //-     .row
    //-       .col
    //-         p Copyright &copy; 
    //-           span#year

    script(src="http://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/d890e424bf.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
    integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"
    integrity="sha256-zUQGihTEkA4nkrgfbbAM1f3pxvnWiznBND+TuJoUv3M=" crossorigin="anonymous")
    script(src='js/index.js')
